*{
    margin: 0px;
}
body{
    /* display: flex;
    flex-wrap: wrap; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.first_part{
    /* border: 1px solid blue; */
    background-image: linear-gradient(rgba(11, 99, 67, 0.733),rgba(33, 82, 64, 0.875));
    height: auto;
    padding-bottom: 400px;
    
    
    
}   

.nav{
    /* background-color: black; */
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    padding-bottom: 160px;
    /* position: fixed;
    top: 0;
    z-index: 2; */

}
.nav_back{
    background-color: black;
    transition: 0.1s ease-in;
}
.side1{
    display: flex;
    align-items: center;
    column-gap:  25px;
    
}
.side1 div .dropimg{
    width: 15px;
    height: 15px;
    margin-left: 7px;
    position: relative;
    top: 2px;
}
.side1 a{
    text-decoration: none;
    color: white;
}
.side1 p{
    text-decoration: none;
    color:white;
}
.side1 a:hover {
    text-decoration: underline;
}
.side1 p:hover {
    text-decoration: underline;
}
.side2{
    display: flex;
    align-items: center;
    column-gap:  20px;
    padding-left: 300px;
    
}
.side2 a{
    color:white;
    text-decoration: none;
}
.side2 a:hover {
    text-decoration: underline;
}
.startbox{
    width: 120px;
   
    border-radius: 25px;
    background-color:black;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
}
.side2 .startbox:hover {
    background-color:rgb(150, 194, 221);
    border: 1px solid rgba(128, 128, 128, 0.626);
    box-shadow: 0px 0px 1px 1px rgb(76, 75, 75);
    color: black;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.side1 img:hover {
    cursor: pointer;
}
.float_box{
    /* border: 1px solid red; */
    height: auto;
    display: flex;
    justify-content: space-around;

}
.float_box .left_side{
    /* border: 1px solid black; */
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.float_box  .summer_button{
    /* border: 1px solid yellow; */
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 35px;
    background-color: rgba(255, 64, 207, 0.836);
    color: white;
    margin-bottom: 40px;

}
.summer_button:hover {
    background-image: linear-gradient(rgba(96, 202, 213, 0.733),rgba(190, 178, 178, 0.875));
    transition: 0.5s;
}
.float_box #sfe{
    font-size: 18px;
}
#right_summer{
    background-color: rgba(84, 193, 236, 0.895);
    color: black;
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: 600;
    
}

.text_changer{
    /* border: 1px solid rgb(74, 9, 239); */
    font-size: 60px;
    color: white;
    display: flex;
    width: fit-content;
    position: relative;
    

}
.text_changer .roles_container{
    /* border: 1px solid rgb(59, 9, 9); */
    margin-bottom: 30px;
    height: 73px;
    width:fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    top:0px;
    right: 55px;

}
.role{
   display: block; 
   
   animation: role_change 7s infinite  ;
   
}
@keyframes role_change{
    0%{
        transform: translateY(0%);
        color: red;
    }
    25%{
        transform: translateY(-100%);
         
    }
    50%{
        transform: translateY(-200%);
        color: blue;
    }
    75%{
        transform: translateY(forwards);
        color: rgb(183, 255, 0);
    }
    100%{
        transform: translateY(0%);
        color: rgb(13, 236, 232);
    }
   
    
}
.right_side{
    width: ;
    /* border: 1px solid black; */
    display: flex;
    align-items: end;
    justify-content: center;
}
.right_side img{
    align-self: center;
    padding-top:5px ;
}
.left_side #sfe{
    font-size: 25px;
    font-weight: 600;
    color: rgb(208, 205, 205);
}

            /* END OF FIRST PART */

                /* SECOND PART */
.second_part{
    border: 1px solid red;
    width:auto ;
    height:auto;
    padding-bottom: 70px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position:relative;
    bottom: 50px;
    background-color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.second_part .flotty{
    border: 1px solid red;
    width:auto;
}
.flotty h3{
    font-weight: 500;
}
.flotty h2{
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 10px;
}
.flotty p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(109, 106, 106);
    margin-bottom: 70px;
}
.b2b_box{
    border: 1px solid blue;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    column-gap: 25px;
}
.b2b_box .b2b{
    border: 1px solid black;
    width: 420px;
    height: auto;
    border-radius: 20px;
}
.b2b_box .b2b:hover{
    background-color: rgba(251, 247, 227, 0.781);
    box-shadow: 0px 0px 2px 2px rgba(220, 219, 219, 0.915);
    transition: 0.2s;
}
.b2b_box .b2b:hover #arrow{
    display: flex;
    animation: right-arrow 0.2s ease-in-out ;
}
@keyframes right-arrow {
   0%{
    transform: translateX(-50%);
   } 
}

.b2b img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 30px;
    height: 250px;
    
}
 #arrow{
    display: none;
    border-radius: 0;
    margin-left: 20px;
    border: 1px solid red;
    width: 25px;
    height: 25px;
}
.text_box{
    border: 1px solid yellow;
    height: auto;
    padding-left: 20px;
    /* margin-bottom: 10px; */
}
.text_box p{
    margin-bottom: 20px;
}
.text_box a{
    
    font-size: large;
    color: black;
    padding-bottom: 30px;
    font-weight: 600;
}
.explore_arrow-box{
    margin-top: 30px;
    display: flex;
}

            /* END OF SECOND PART */

            /* THIRD PART */

.third_part{
    border: 1px solid red;
    width: auto;
    height: auto;
    background-color: rgb(136, 83, 83);
    display: flex;
    flex-direction: column;
    align-items: center;
    ;

}
.third_part .flotty{
    border: 1px solid red;
    width:90%;
    margin-top: 150px;
}
.third_part .flotty h3{
    color: rgba(224, 250, 131, 0.773);

}
.third_part .flotty h2{
    color:white;

}
.third_part .flotty p{
    color:rgb(177, 171, 171);

}
.pic_circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic_circle img{
    width: 25px;
    height: 25px;
}
.boxie{
    border: 1px solid black;
    width: 420px;
    height: auto;
}
.text_area{
    margin-top: 10px;
    border: 1px solid blue;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.blox .text_area h3{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.b2b_box .text_area p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(197, 193, 193);
    margin-bottom: 10px;
}
.blox{
    border: 1px solid blue;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}
