*{
    margin: 0%;
}
body{
    /* display: flex;
    flex-wrap: wrap; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first_part{
    /* border: 1px solid blue; */
    background-image: linear-gradient(rgba(134, 232, 243, 0.733),rgba(236, 231, 231, 0.875));
    
    
    
}   

.nav{
    /* background-color: black; */
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    /* position: fixed;
    top: 0;
    z-index: 2; */

}
.nav_back{
    background-color: black;
    transition: 0.1s ease-in;
}
.side1{
    display: flex;
    align-items: center;
    column-gap:  25px;
    
}
.side1 div .dropimg{
    width: 15px;
    height: 15px;
    margin-left: 7px;
    position: relative;
    top: 2px;
}
.side1 a{
    text-decoration: none;
    color: black;
}
.side1 p{
    text-decoration: none;
    color:black;
}
.side1 a:hover {
    text-decoration: underline;
}
.side1 p:hover {
    text-decoration: underline;
}
.side2{
    display: flex;
    align-items: center;
    column-gap:  20px;
    padding-left: 300px;
    
}
.side2 a{
    color:black;
    text-decoration: none;
}
.side2 a:hover {
    text-decoration: underline;
}
.startbox{
    width: 120px;
    border: 1px solid black;
    border-radius: 25px;
    background-color:black;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
}
.side2 .startbox:hover {
    background-color: rgba(46, 44, 44, 0.951);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.side1 img:hover {
    cursor: pointer;
}

.plans_pricing{
    margin-top: 50px;
    /* border: 1px solid red; */
    width: auto;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.plans_pricing h3{
    padding-bottom: 5px;
    font-weight:200;
}
.plans_pricing h2{
    font-size: 55px;
    font-weight: 100;
    padding-bottom: 5px;
}
.plans_pricing p{
    padding-bottom: 30px;
    font-size: 22px;
    color: rgba(92, 90, 90, 0.851);
}
.put_email{
    border: 1px solid rgba(178, 173, 173, 0.941);
    border-radius: 35px;
    background-color: white;
    width: 800px;
    height: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.put_email input{
    border:none;
    border-radius: 35px;
    margin: 5px;
    width: 450px;
    height: 15px;
    padding: 20px;
    font-size: 17px;
    /* margin-right: 200px; */
}
.put_email .startbox{
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 35px;
    height: 40px;
    width: 150px;
    padding:8px;
    font-size: 20px;
}
.put_email .startbox:hover {
    background-color: rgba(46, 44, 44, 0.951);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.under-put_email{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 10px; */
}
.under-put_email #top{
    padding-top: 6px;
    padding-bottom: 0px;
    
}
.under-put_email p{
    padding-bottom: 40px;
    font-size: 17px;
}

.second_part{
    /* border:1px solid orange; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.second_part .pill_space{
    border: 1.6px solid rgba(145, 239, 62, 0.716) ;
    width: auto;
    height: 50px;
    margin-top: 30px;
    padding-left:5px;
    padding-right:5px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 5px;
    margin-bottom: 30px;
}
.pill_space .sub_pill{
    /* border: 1px solid blue; */
    background-color: black;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
button{
    border: none;
    background-color:white;
    width: 180px;
    height: 40px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pill_space button:hover{
    background-color: rgba(228, 225, 225, 0.888);
    transition: 0.1s;
}

.second_part .long_pill_container{
    /* border: 1px solid green; */
    padding: 10px;
    width: auto;
    display: flex;
    column-gap: 15px;
}
.long_pill_container .long_pill{
    /* border: 1px solid red; */
    width: auto;
    height: auto;
    box-shadow: 0px 2px 4px 1px rgba(178, 175, 175, 0.816);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    position: relative;
}
.long_pill #supa{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 8px;
    background-color: rgba(78, 241, 148, 0.9) ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-weight: 400;
    
}
.long_pill .basic_box{
    /* border: 1px solid orange; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.basic_box span{
    color: rgb(94, 92, 92);
}
.basic_box h3{
    font-weight: 400;
}
.basic_mostpopular{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basic_mostpopular #bas{
    font-size: 30px;
    font-weight: 400;
}
.basic_mostpopular span{
    /* border: 1px solid black; */
    width: 120px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 5px;
    margin-left: 10px;
    background-color: rgba(78, 241, 148, 0.9) ;
    border-radius: 45px;
    color: black;

}
#usd_per_month{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    
}
#usd_per_month #dollar{
    font-size: 45px;
    font-weight: 400;
}
.basic_box hr{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(212, 205, 205, 0.679);
}
#usd_per_month #tick{
    padding-right: 10px;
}
#bill{
    margin-bottom: 100px;
}
#bill #usd_per_month{
    margin-top: 10px;
}
.long_pill #try_button_1{
    /* border: 1px solid blue; */
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top:85px ; 
    
    
}
.long_pill #try_button_1:hover{
    background-color: rgba(61, 59, 59, 0.96);
    transition: 0.1s;
    cursor: pointer;

}
.long_pill #try_button_2{
    /* border: 1px solid blue; */
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top:55px ;  
}
.long_pill #try_button_2:hover{
    background-color: rgba(61, 59, 59, 0.96);
    transition: 0.1s;
    cursor: pointer;

}
.long_pill #try_button_3{
    /* border: 1px solid blue; */
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top:25px ;  
}
.long_pill #try_button_3:hover{
    background-color: rgba(61, 59, 59, 0.96);
    transition: 0.1s;
    cursor: pointer;

}
.long_pill #try_button_4{
    /* border: 1px solid blue; */
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;  
}
.long_pill #try_button_4:hover{
    background-color: rgba(61, 59, 59, 0.96);
    transition: 0.1s;
    cursor: pointer;

}
.long_pill .link{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    
}
.long_pill .link a{
    color: black;
    font-size: 18px;
}
.long_pill .link a:hover{
    text-decoration: none;
    transition: 0.2s;
}
.long_pill #supa_plus{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 8px;
    background-color: rgba(38, 98, 249, 0.9) ;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-weight: 400;
}
.t_under_long_pill{
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(122, 120, 120);
}